*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: blueviolet;
    color: black;
    justify-content: space-around;
    align-items: center;
   padding: 24px;0 ;

}
.cabeçalho-lista-item{
    width: 10%;
}
.cabeçalho-lista-item{
   display: inline-block;
   margin: 50 16px;
}
 